*{
    margin: auto;
    padding: 0px;
}



.wrapper{

    width: 500px;
    height: 500px;
    background-color: silver;
}

.wrapper h1{
    text-align: center;
    color: maroon;
}

.wrapper h2{
    text-align: center;
}
